html,
body {
  height: 100%;
  margin-top: 10px;
  scroll-behavior: smooth;
}

p {
  font-size: 0.7rem;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 15px;
}
#particles-js {
  position: absolute;
  left: 0;
  top: 0;
  height:100%;
  width: 100%;
z-index: -999;
}


.or-seperator{
  margin: 30px 0 15px;
  text-align: center;
  border-top: 1px solid grey;
}
.or-seperator b {
  padding: 0 10px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  background: #fff;
  display: inline-block;
  border: 1px solid #E0E0E0;
  border-radius: 50%;
  position: relative;
  top: -22px;
  z-index: 1
}
.signup-form{
  max-width: 500px;
  margin: 0 auto;
padding: 30px 0;
}
.signup-form form{
  border-radius: 5px;
  margin-bottom: 20px;
  background: transparent;
padding: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.signup-form .form-group{
  margin-bottom: 20px;
}
.social-btn .btn {
  text-align: center;
  line-height: 26px;
  border: none;
  border-radius: 50px;
  margin: 10px 0 0 15px;
}
.social-btn .btn i{
  float: left;
  margin: 3px 10px;
  font-size: 20px;
}
.form-control{
  border-radius: 50px;
  outline: none !important;
}
 #progress{
  height: 5px;
  width: 60%;
  margin-top: 0.5rem;
margin-bottom: 0.3rem;
margin-left: 0.4rem;

}
.form-control .btn{
  border-radius: 50px;
}


#progress-bar {
  width: 0%;
    border-radius: 50px;
  height: 100%;
  transition: width 500ms linear;
}
.progress-bar-danger {
  background: #d00;
}

.progress-bar-warning {
  background: #f50;
}

.progress-bar-success {
  background: #080;
}
span{
  font-family: "Montserrat",sans-serif;
font-size: 0.8rem;
}
.nav-item {
  font-family: 'Lato', sans-serif;
}
.navbar-collapse ul li a {
  font-weight: bold;
  color: #000;
  font-size: 0.9rem;
}
.dropdown-item {
  color: #000;
  font-family: 'Montserrat', sans-serif;
}
.dropdown-item:hover {
  background-color: #5eaaa8;
}
.sign{
margin: 2px;
}
/* progress bar */
.progress-container {
  width: 100%;
  height: 4px;
  background: #fff;
 position:absolute;
  left:0;
  bottom:0;
  z-index: 1030;
 -webkit-transform:transform3d(0,0,0);
  -webkit-overflow-scrolling: touch;

}
.progress-bar {
  height: 4px;
  background: #145374;
  width: 0%;
}
#textArea{
  border-radius: 10px;
  outline: none !important;
  padding: 5px;
width: 400px;
  overflow: hidden;
}
#userInfo{
  display: none;
}
@media only screen and (max-width: 700px){
  body{
    margin-top:18px;
  }
  #textArea{
    width: 300px;
  }
}
@media only screen and (min-width: 900px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    margin-top: 0;
  }
  .navbar .nav-item:hover .nav-link {
    color: #000;
  }
  .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }
  .navbar .dropdown-menu.fade-up {
    top: 180%;
  }
  .navbar .nav-item:hover .dropdown-menu {
    transition: .3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
  }
}
