<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6073JFLJFZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6073JFLJFZ');
</script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="referrer" content="strict-origin-when-cross-origin">
  <meta property="og:title" content="QkRes Technologies and Research Services">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://qkres.com/">
  <meta property="og:description" content="
Welcome To 
QkRes Technologies and Research Services   
We offer quick and reliable solutions and services for Research &amp; Development based requirements.
We procure instruments for different engineering and science departments, research labs and startups.">
<meta name="description" content="
Welcome To 
QkRes Technologies and Research Services
We offer quick and reliable solutions and services for Research &amp; Development based requirements.
We procure instruments for different engineering and science departments, research labs and startups.">
<meta name="keywords" content="QkRes,qkres,qkres iitm,qkres IIT Madras,QkRes chennai india Tamilnadu">
<meta name="url" content="https://qkres.com/">
<link rel="canonical" href="https://qkres.com/"/>
  <title>QkRes Technologies and Research Services</title>
  <!-- css -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/CSS/styles.css">

  <!-- js -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/89e9116ed8.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/CSS/chat.css">
    <link rel="stylesheet" href="/CSS/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/responses.js"></script>
<script src="/js/chat.js"></script>
</head>

<body>


  <!-- <section style="z-index: 999999999999999999;position: absolute;">
		<div id="preloader">
			<div id="ctn-preloader" class="ctn-preloader">
				<div class="animation-preloader">
					<div class="spinner"></div>
					<div class="txt-loading">
						<span data-text-preloader="Q" class="letters-loading">
							Q
						</span>
						
						<span data-text-preloader="K" class="letters-loading">
							K
						</span>
						
						<span data-text-preloader="R" class="letters-loading">
							R
						</span>
						
						<span data-text-preloader="E" class="letters-loading">
							E
						</span>
						
						<span data-text-preloader="S" class="letters-loading">
							S
						</span>
					</div>
				</div>	
				<div class="loader-section section-left"></div>
				<div class="loader-section section-right"></div>
			</div>
		</div>
	</section> -->
  <!-- CHAT BAR BLOCK -->
  <div class="chat-bar-collapsible">
    <button id="chat-button" type="button" class="collapsible">Chat with us!
        <i id="chat-icon" style="color: #fff;" class="fa fa-fw fa-comments-o"></i>
    </button>

    <div class="content">
        <div class="full-chat-block">
            <!-- Message Container -->
            <div class="outer-container">
                <div class="chat-container">
                    <!-- Messages -->
                    <div id="chatbox">
                        <h5 id="chat-timestamp"></h5>
                        <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                    </div>

                    <!-- User input box -->
                    <div class="chat-bar-input-block">
                        <div id="userInput">
                            <input id="textInput" class="input-box" type="text" name="msg"
                                placeholder="Tap 'Enter' to send a message">
                            <p></p>
                        </div>

                        <div class="chat-bar-icons">
                            <i id="chat-icon" style="color: crimson;" class="fa fa-fw fa-heart"
                                onclick="heartButton()"></i>
                            <i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send"
                                onclick="sendButton()"></i>
                        </div>
                    </div>

                    <div id="chat-bar-bottom">
                        <p></p>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>
	
  <div id="particles-js"><canvas class="particles-js-canvas-el" width="1889" height="349" style="width: 100%; height: 100%;"></canvas></div>

  <%- include("../views/navbar.ejs")  %>
<div class="loader_bg">
  <div class="loader">

  </div>
</div>
<section id="hero">
  <div class="container-fluid mx-auto">
    <div class="row">
      <div class=" my-2 col-md-6 d-flex flex-column justify-content-center align-items-center">
<div>
  <h7 class="qkres-homepage-h7">Looking for trusted service ?</h7>
  <h1 class="qkres-header">QkRes Technologies</h1>
  <b class="qkres-p">And</b>
  <h1 class="qkres-header">Research services</h1>
  <a role="button" class="btn btn-lg  qkres-button" href="#Nsiqwe">Explore Now</a>
</div>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img class="pl-3" id="index_image" src="/images/home/index.png" alt="qkres home page image">
      </div>
    </div>
  </div>
</section>

  <div class="wrap" id="content">
    <section id="first">
      <!-- invisible div  -->
      <div class="qkres-home-invisible-div"  class="boxes invisible" id="Nsiqwe">
          <p>this content wont visible bro just chill</p>
          <h1>QkRes</h1>
      </div>
<!-- <h3>Best consultancy services at effordable prices</h3> -->

    <!-- <section id="intro">
      <div class="boxes">
        <div class="box-1" data-aos="flip-left">
          <h2>About us</h2>
        </div>
        <br>
    <div class="box-2">
        <div class="row"  data-aos="fade-right">
          <div class="col-lg-6 ">
            <p><b>QkRes Technologies and Research</b> is a research resources and consultancy based start-up by an <b>IIT Madras</b> student, currently located at IIT Madras. Team QkRes mainly consist of IIT students along with some highly skilled
              and reputed vendors.</p>
          </div>
          <div class="col-lg-6 " >
            <p>
              The majority of research that takes place in India consumes a longer duration than other countries.We studied this in detail and found that there is an need for helping hand to help innovative researchers.
            </p>
          </div>
        </div>
        <div class="row" data-aos="fade-left">
          <div class="col-lg-6 ">
            <p>We offer quick and reliable solutions and services for <b>Research & Development</b> based requirements.</p>
          </div>
          <div class="col-lg-6 ">
            <p>We procure instruments for different <b>engineering and science departments, research labs and startups</b>.</p>
          </div>
        </div>
        </div>

      </div>
    </section> -->
    <section id="qkres-aboutUs">
<div class="row container-fluid ">
<div class="col-lg-6">
  <h2 class="qkres-about-h2">About Us</h2>
  <br>
  <b class="qkres-about-b">QkRes Technologies and Research is a research resources and consultancy based start-up setup by an IIT Madras student, currently located at IIT Madras. We are Engaged in:</b>
  <ul>
    <li class="qkres-about-li">Offering quick, reliable services for R&D based requirements.</li>
    <li class="qkres-about-li">Procuring instruments for Research labs and Startups</li>
    <li class="qkres-about-li">Providing a helping hand for innovative researchers</li>
  </ul>
  </div>
  <div class="col-lg-6 d-flex justify-content-center">
    <img class="qkres-aboutus" src="images/home/home2.svg" alt="qkres-about_us-section-image">
    </div>
</div>


    </section>

    <section id="first" class="my-5" style="height:600px;">
      <div class="boxes" data-aos="flip-left" style="background-color:#66bfbf;">
        <div class="box-1 ">
          <h2>Objective</h2>
        </div>
        <div class="box-2">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="carousel-body">

                  <div class="parent">
                    <img src="/images/research.webp" alt="">
                  </div>
                  <br>
                  <p>Are you one of passionate researchers who is struck
                    in between your research ?
                  </p>
                  <p>Do you wish to have an expert's opinion on your queries?</p>
                  <p>Do you want to purchase your research equipment from
                    a trusted vendor ?</p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-body">
                  <div class="parent">
                    <img src="/images/brain.webp" alt="">
                  </div>


                  <h6><b>if yes ,You are at the right place</b></h6>

                  <p>
                    we help you in reducing the <b>Research & Development </b> bottleneck
                  </p>
                  <p>We guide you in procurement of Materials and Facilities to boost your research</p>
                  <p>We provide services like <b>3D-printing ,Manufacturing and fabrication and Consultancy.</b>
                  </p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-body">
                  <div class="parent">

                    <img src="/images/question.webp" alt="">
                  </div>
                  <h5><b>Some Uncertainities may arise while investing your money</b></h5>
                  <br>
                  <p>
                    <b> what if apparatus doesn't meet my expectations?</b>
                  </p>
                  <p><b>What if some problems arises after few days of purchase?</b></p>
                  <p><b>What if there is no <i>after-sale</i> service provided? </b>
                  </p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-body">
                  <div class="parent">
                    <img src="/images/trust.webp" alt="">
                  </div>
                  <h5><b>You are not only the one having such thoughts</b></h5>
                  <br>

                  <p>Indeed, it is very important that your queries are cleared before going to further process.

                  </p>
                  <p>Finding a place that meets with your specifications is also equally important</p>
                  <p>You are assured of <b>Good Quality Products</b> along with best price in market.Most importantly we avail <b>After-Sale Service</b>
                  </p>

                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
    <section id="second">
      <div class="boxes">
        <div class="box-1">
          <h2 class="qkres-services-h2">Services</h2>
        </div>
        <br>
        <div class="card-deck mb-3 text-center">
          <div class="row">
            <div class="card mb-4 box-shadow col-sm-4 " data-aos="fade-left">
              <div class="card-header">
                <h5 class="my-0">Mechanical Services</h5>
              </div>
              <div class="card-body">
                <img style="max-width: 110px;" src="images/home/mech.png" alt="qkres-mechanical-services image">
              </div>
              <div class="card-footer">
                <a role="button" class="btn btn-lg btn-outline-success" href="/mechanical-services">Know More</a>
              </div>
            </div>

            <div class="card mb-4 box-shadow col-sm-4 " data-aos="fade-up">
              <div class="card-header">
                <h5 class="my-0">3D-Printing</h5>
              </div>
              <div class="card-body">
                <img style="max-width: 110px;" src="/images/home/3d.png" alt="qkres 3d-printing services image">
              </div>
              <div class="card-footer">
                <a role="button" class="btn btn-lg btn-outline-success" href="/3d-printing">Know More</a>
              </div>
            </div>
            <div class="card mb-4 box-shadow col-sm-4 " data-aos="fade-up">
              <div class="card-header">
                <h5 class="my-0">Consultancy</h5>
              </div>
              <div class="card-body">
                <img style="height: 105px;width: 110px;" src="/images/consultancy/consult1.svg" alt="qkres consultancy services image">
              </div>
              <div class="card-footer">
                <a role="button" class="btn btn-lg btn-outline-success" href="/consultancy">Know More</a>
              </div>
            </div>
            <div class="card mb-4 box-shadow col-sm-4 " data-aos="fade-right">
              <div class="card-header">
                <h5 class="my-0">Manufacturing and fabrication</h5>
              </div>
              <div class="card-body">
                <img style="width: 110px;" src="/images/mAndf/weld.jpg" alt="qkres manufacturing-and-fabrication image">
              </div>
              <div class="card-footer">
                <a role="button" class="btn btn-lg btn-outline-success" href="/manufacturing-and-fabrication">Know More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="third" class="my-5">
      <div class="boxes">
        <div class="box-1">
          <h2 style="font-family: 'Oswald';">Material & Resources</h2>
        </div>
        <br>
        <div class="card-deck mb-3 text-center">
          <div class="row">
            <div class="card mb-4 box-shadow col-sm-4 " data-aos="fade-left">
              <div class="card-header">
                <h5 class="my-0">Chemicals</h5>
              </div>
              <div class="card-body">
                <img src="/images/chem.webp" alt="qkres- chemicals and chemical equipments image">
              </div>
              <div class="card-footer">
                <a role="button" class="btn btn-lg btn-outline-success" href="/chemicals">Know More</a>
              </div>
            </div>

            <div class="card mb-4 box-shadow col-sm-4 " data-aos="fade-up">
              <div class="card-header">
                <h5 class="my-0">Mechanicals</h5>
              </div>
              <div class="card-body">
                <img src="/images/mech.webp" alt="qkres-mechanical-instruments-image">
              </div>
              <div class="card-footer">
                <a role="button" class="btn btn-lg btn-outline-success" href="/mechanical-instruments">Know More</a>
              </div>
            </div>
            <div class="card mb-4 box-shadow col-sm-4 " data-aos="fade-right">
              <div class="card-header">
                <h5 class="my-0">Electricals</h5>
              </div>
              <div class="card-body">
                <img src="/images/elec.webp" alt="qkres electrical lab equipments image">
              </div>
              <div class="card-footer">
                <a role="button" class="btn btn-lg btn-outline-success" href="/electrical-lab-equipments">Know More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <section id="fourth">
      <div class="container-fluid">
        <div class="heading" data-aos="fade-right">
          <h2><span>How do we provide support ?</span></h2>
        </div>
        <div class="body" data-aos="fade-left">
          <p>1. A
            google form attached under various segments that can be accessed by
            the 'click here' tab.</p>
          <p>2. Fill the google form with the required
            details and attachments if possible.</p>
          <p>3. We will review the
            order and discuss it with our experienced vendors.</p>
          <p>4. After
            reviewing the request, We will update the status by mail.</p>
          <p>5. If
            agreed, we will send the quotation for the same.</p>
          <p>6. The product
            will be made available and delivered to your specified location.</p>

        </div>
      </div>
    </section> -->
    <section id="fifth">
      <div class="boxes">
        <div class="box-1">
          <h2 style="font-family: 'Oswald';">Why QkRes?</h2>
        </div>
        <div class="row">
          <div class="feature-box col-md-3 ">
            <i class="icon fas  fa-cogs fa-3x" data-aos='fade-left'></i>
            <p data-aos='fade-right'><b>T</b>imely availability of resources</p>
          </div>

          <div class="feature-box col-md-3 ">
            <i class="icon far fa-lightbulb fa-3x" data-aos='fade-up'></i>
            <p data-aos='fade-down'><b>T</b>imely Design Finalization</p>
          </div>
          <div class="feature-box col-md-3 ">
            <i class="icon fas fa-check-circle fa-3x" aria-hidden="true" data-aos='fade-right'></i>
            <p data-aos='fade-left'><b>T</b>imely readiness for analysis </p>
          </div>
          <div class="feature-box col-md-3 ">
            <i class="icon fas fa-tasks fa-3x" data-aos='fade-down'></i>
            <p data-aos='fade-up'><b>T</b>imely Design modification if required in set up</p>
          </div>
        </div>
      </div>
    </section>
  </div>
<%- include("../views/footer.ejs") %>
 <script src="/js/main.js" charset="utf-8"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="/js/particles.min.js" charset="utf-8"></script>
  <script src="/js/apply.js" charset="utf-8"></script>
</body>

</html>

