<!DOCTYPE html>
<html lang="en-US" dir="ltr" itemtype="http://schema.org/WebPage">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="referrer" content="strict-origin-when-cross-origin">
  <meta property="og:title" content="QkRes Technologies and Research Services - Business Opportunities">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://qkres.com/business-opportunities">
  <meta property="og:description" content="
 We are looking forward to collaborate with :
Reputed service providers and vendors in terms of Fabrication &amp; Manufacturing, Start-ups, Chemical, Electrical, and Mechanical Instrumentation companies who wish to join hands with us. 
Kindly register with us. We are happy to collaborate with you.">
<meta itemprop="name" content="QkRes Technologies and Research Services - Business Opportunities">
<meta itemprop="description" content="
 We are looking forward to collaborate with :
Reputed service providers and vendors in terms of Fabrication &amp; Manufacturing, Start-ups, Chemical, Electrical, and Mechanical Instrumentation companies who wish to join hands with us. 
Kindly register with us. We are happy to collaborate with you.">
<meta itemprop="url" content="https://qkres.com/business-opportunities">
<meta name="keywords" content="improve business,business opportunities,trusted business patner"> 
  <title>QkRes Technologies and Research Services - Business Opportunities</title>
  <!-- css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="canonical" href="https://qkres.com/business-opportunities"/>

  <link rel="stylesheet" href="/CSS/styles.css">
  <link rel="stylesheet" href="/CSS/bsopp.css">
 

  <!-- js -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Courgette&family=Yusei+Magic&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Merriweather:ital,wght@0,700;1,900&family=Poppins&display=swap" rel="stylesheet">
  

  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/89e9116ed8.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="images/favicon.ico">

</head>
<body onload="loaded()">
  <%-include("navbar.ejs");  %>

  <div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>

<section id="first">
  <div class="row">
    <div class="col-lg-6 part-1">
 <h1>Business Opportunities</h1>
    </div>
    <div class="col-lg-6 part-2">
<img id="Bimg" src="images/bsopp/bsop2.svg" alt="qkres business-opportunities svg">
    </div>
  </div>
</section>
<section id="second">
 <h1 style="display: flex;justify-content: center;margin-bottom: 10px;">Let us colloborate </h1>
<div id="seconddiv" class="row">
  <div class="col-lg-6 imgCenter">
    <img class="Bimg1" src="images/bsopp/bsop1.svg" alt="qkres business-opportunities svg">
  </div>
 <div class="ssdid col-lg-6">
  <h5 >We are looking for...</h5>
  <p>
    Reputed service providers and vendors in terms of Fabrication & Manufacturing, start-ups who wish to join hands with us.
   </p>
   <p>
    Vendors in terms of Chemical, Electrical, and Mechanical Instrumentation companies who wish to join hands with us.   </p>
 </div>
 
 <h3 style="display: none;">grow your business with us,business deals</h3>

</div>

 </div>
 
</section> 

<section id="third">
  <h2 style="display: flex;justify-content: center;margin-bottom: 10px;">Kindly Register with us</h2>
  <div id="thirddiv" class="row">
  <div class="col-lg-6 thirdinnerdiv">
 <a type="button" class="btn btn-lg coButton" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScSHrLKKYn6tB1ht6BGvJ7YmR7Pp-fshNO3y5pOnx2OzdvFEg/viewform?usp=sf_link">colloborate</a>
  </div>
  <div class="col-lg-6 imgCenter">
    <img  class="Bimg1" src="images/bsopp/bsop3.svg" alt="qkres business-opportunities svg">
  </div>
  </div>
  <h2 style="display: flex;justify-content: center;margin-bottom: 10px;font-family:'Courgette';">We are happy to serve you.</h2>
  <h3 style="display: none;">business opportunities in chemicals,chemical-lab-equipmemts,electrical-lab-equipments</h3>

</section>
<%-include("footer.ejs");  %>
<script>
function loaded(){
  setTimeout(function(){
          $('body').addClass('loaded');
      }, 3000);
}
</script>
</body>

</html>
