<footer id="end">
  <div class="foo">
    <div class="foo-box">
      <h5><i><img src="/images/Qkres_logo.png" alt="logo" />kRes</i></h5>
      <div class="social-media">
        <div class="button">
          <div class="icon">

            <a target="_blank" role="button" href="https://www.facebook.com/QkResTechnologies">
              <i class="fab fa-facebook-f"></i></a>
          </div>
        </div>
        <div class="button">
          <div class="icon">
            <a target="_blank" href="https://mobile.twitter.com/QkRes_Tec">
              <i class="fab fa-twitter"></i></a>
          </div>
        </div>
        <div class="button">
          <div class="icon">
            <a target="_blank" href="https://www.linkedin.com/mwlite/in/qkres-technologies-and-research-a25a571b1">
              <i class="fab fa-linkedin"></i></a>
          </div>
        </div>
        <div class="button">
          <div class="icon">
            <a target="_blank" href="https://youtu.be/tuZgM-r5hXI">
              <i style="color:#ff0000" class="fab fa-youtube"></i></a>
          </div>
        </div>

      </div>
      <div class="box-3">
        <h4>Location</h4>
      </div>
      <div class="box-3">
        
        <p>Chennai,600036</p>
        <p>TamilNadu, INDIA</p>
        <a target="_blank" href="https://www.google.com/maps/place/Indian+Institute+of+Technology+Madras/@12.9914929,80.2336907,15z/data=!4m5!3m4!1s0x0:0x24ef264085e6a094!8m2!3d12.9914929!4d80.2336907"><i
            class="fas fa-map-marker-alt fa-2x"></i></a>
      </div>
    </div>
    <br>

    <p>Copyright © <script> document.write(new Date().getFullYear() + "-" + `${new Date().getFullYear()+1}` )  </script> QkRes Technologies and Research Services</p>
    
  </div>
</footer>
